<section class="container">
    <form [formGroup]="agendaForm" (ngSubmit)="salvarAgenda()">
        <h2>Agende sua Sala</h2>
        <div>
            <div class="form-group">
                <label>Sala</label>
                <select class="form-control" [(ngModel)]="novaAgenda.sala" formControlName="sala">
                    <option value="Sala 1" selected>Sala 1</option>
                    <option value="Sala 2">Sala 2</option>
                </select>
            </div>

            <div class="form-group">
                <label>Data/Hora Inicio:</label>
                <input type="datetime" [(ngModel)]="novaAgenda.dataInicio" class="form-control"
                    formControlName="dataInicioAgenda" />
            </div>

            <div class="form-group">
                <label>Data/Hora Fim:</label>
                <input type="datetime" [(ngModel)]="novaAgenda.dataFim" class="form-control"
                    formControlName="dataFimAgenda" />
            </div>

            <div class="form-group">
                <label>Títulos:</label>
                <input type="text" [(ngModel)]="novaAgenda.titulo" class="form-control" formControlName="tituloAgenda"
                    [ngClass]="{ 'is-invalid': submitted && f.tituloAgenda.errors }" />
                <div *ngIf="submitted && f.tituloAgenda.errors" class="invalid-feedback">
                    <div *ngIf="f.tituloAgenda.errors.required">Titulo é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
                <label>Organizador:</label>
                <input type="textarea" [(ngModel)]="novaAgenda.organizador" class="form-control"
                    formControlName="organizador" />
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>
</section>
<hr>

<section class="container">

    <h2>Agendas</h2>
    <table class="table table-striped" *ngIf="agendas">
        <tr>
            <th>Sala</th>
            <th>Data/Hora Inicio</th>
            <th>Data/Hora Fim</th>
            <th>Organizador</th>
            <th>T&iacute;tulo</th>
            <th>Op&ccedil;&otilde;es</th>
        </tr>
        <tr *ngFor="let agenda of agendas">
            <td>{{agenda.sala}}</td>
            <td>{{agenda.dataInicio | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td>{{agenda.dataFim | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{agenda.organizador}}</td>
            <td>{{agenda.titulo}}</td>
            <td>
                <i aria-hidden="true" class="glyphicon glyphicon-trash" (click)="apagarAgenda(agenda._id)"
                    title="Excluir Registro"></i>
                <!--
                <i aria-hidden="true" class="glyphicon glyphicon-edit" (click)="buscarAgenda(agenda._id)"
                    title="Alterar Registro" ></i>-->
            </td>
        </tr>
    </table>

</section>
